<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mascotas | Jorgecb</title>
  </head>
  <body>
    <header>
      <h1>Mis Mascotas</h1>
      <a href="../../index.html">Volver al Portafolio</a>
    </header>
    <main>
      <section>
        <article>
          <img src="image1" alt="" />
          <h3>GOLIAT</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            rem dolore ex quisquam, distinctio veritatis doloremque maiores,
            facere modi unde molestias fugit, cum error optio aspernatur tempore
            odit. Praesentium, amet.
          </p>
        </article>
        <article>
          <img src="image2" alt="" />
          <h3>TOBY</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, natus
            ex. Hic dolor animi distinctio soluta, quidem quia quis consequuntur
            consequatur. Sed, minus id reprehenderit tenetur iure porro animi
            voluptate.
          </p>
        </article>
        <article>
          <img src="image3" alt="" />
          <h3>Candy</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit dolorum cupiditate, assumenda et exercitationem
            accusantium expedita, modi asperiores explicabo quasi quia! Maxime
            vitae nostrum laudantium aperiam debitis soluta! Tempora, nihil?
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
