.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  gap: 4rem;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  
}

.about__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 1rem;
}
.about__text h2 {
  padding: 1rem 0;
  font-size: 2rem;
}

.about__text p {
  max-width: 800px;
  text-align: justify;
  user-select: none;
}
.highlighted {
  color: var(--color-secondary);
  font-weight: 600;
}
.about__main__list {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 0;
}
.about__list {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  list-style: none;
  flex-wrap: wrap;
}
.about__list__item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #00000040;
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  color: var(--color-secondary);
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: default;
}
.about__list__item svg {
  width: 1.2rem;
  height: 1.2rem;
}
.about__list__item:hover {
  background: transparent;
  color: #fff;
  border-color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.095);
}
.skills__container h2 {
  font-size: 1.4rem;
  text-align: left;
}

.skills__container__list {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}
.skills__container__list span {
  font-size: 0.8rem;
}
.skills__container__list i {
  font-size: 1rem;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.skills__item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1.8rem 0.2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  border: 1px solid rgba(193, 255, 114, 0.1);
  transition: all 0.3s ease;
}

.skills__item:hover {
  color: var(--color-primary);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
  border-color: 2px rgba(255, 255, 255, 0.2);
  user-select: none;
}

.skills__item--js:hover {
  background: #f0db4f50;
}

.skills__item--html:hover {
  background: #e54d2650;
}

.skills__item--css:hover {
  background: #3d8fc650;
}
.skills__item--ts:hover {
  background: #007acd50;
}

.skills__item--react:hover {
  background: #5ccbea50;
}
.skills__item--nodejs:hover {
  background: #68a06350;
}
.skills__item--git:hover {
  background: #f34f2950;
}
.skills__item--github:hover {
  background: #c0c0c050;
}
.skills__item--figma:hover {
  background: #ff149350;
}
.skills__item--mysql:hover {
  background: #00800050;
}
.skills__item--tailwind:hover {
  background: #38bdf850;
}
.skills__item--pnpm:hover {
  background: #ff8c0050;
}
.skills__item--vite:hover {
  background: #ffd70050;
}
.skills__item--canva:hover {
  background: #00c4cc50;
}
.skills__item--materialui:hover {
  background: #4682b450;
}
