.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  gap: 4rem;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.095);
  border-radius: 2rem;
  box-shadow:
    0 6px 10px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(255, 255, 255, 0.05);
}

.about__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__text h2 {
  font-size: 2rem;
}

.about__text p {
  max-width: 800px;
  text-align: justify;
  user-select: none;
}
.about__main__list {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 0;
}
.about__list {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  list-style: none;
  flex-wrap: wrap;
}
.about__list__item {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #00000040;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  color: var(--color-secondary);
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: default;
}
.about__list__item svg {
  width: 1.2rem;
  height: 1.2rem;
}
.about__list__item:hover {
  background: transparent;
  color: #fff;
  border-color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.095);
}

.skills__container__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 1rem;
}
.skills__container__list i {
  font-size: 1.2rem;
}

.skills__item {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 1.4rem 0.4rem 0.6rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
.skills__item--js {
  background: rgba(255, 223, 0, 0.1);
  border-color: rgba(255, 223, 0, 0.1);
}
.skills__item--ts {
  background: rgba(0, 122, 204, 0.1);
  border-color: rgba(0, 122, 204, 0.1);
}
.skills__item--html {
  background: rgba(227, 76, 38, 0.1);
  border-color: rgba(227, 76, 38, 0.1);
}
.skills__item--css {
  background: rgba(38, 77, 228, 0.1);
  border-color: rgba(38, 77, 228, 0.1);
}
.skills__item--react {
  background: rgba(97, 218, 251, 0.1);
  border-color: rgba(97, 218, 251, 0.1);
}
.skills__item--tailwind {
  background: rgba(0, 206, 203, 0.1);
  border-color: rgba(0, 206, 203, 0.1);
}
.skills__item--vite {
  background: rgba(255, 0, 255, 0.1);
  border-color: rgba(255, 0, 255, 0.1);
}
.skills__item--git {
  background: rgba(255, 0, 0, 0.1);
  border-color: rgba(255, 0, 0, 0.1);
}
.skills__item--canva {
  background: rgba(96, 94, 228, 0.1);
  border-color: rgba(96, 94, 228, 0.1);
}
.skills__item--nodejs {
  background: rgba(0, 128, 0, 0.1);
  border-color: rgba(0, 128, 0, 0.1);
}
.skills__item--mysql {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
.skills__item--materialui {
  background: rgba(0, 255, 255, 0.1);
  border-color: rgba(0, 255, 255, 0.1);
}
