.contact{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  gap: 4rem;
  background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
}
.contact__title {
  text-align: center;
  padding: 1rem 0;
}
.contact__description {
  text-align: center;
  padding: 0.5rem 0;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__content {
  display: flex;
  justify-content: center;

  padding: 2rem;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
}

.contact__item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}


.contact__item:last-child {
  border-bottom: none;
}
.contact__item span {
  color: #000;
  font-weight: 900;
}
.contact__item a {
  text-decoration: none;
  color: #333;
}
.contact__item p {
  text-decoration: none;
  color: #333;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding: 2rem;
  background-color: #ccc;
}

.contact__field {
  display: flex;
  flex-direction: column;

}
.contact__field label {
  font-size: 1.2rem;
  color: #000;
  font-weight: 700;
}
.contact__field input {
  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  width: 100%;
}
.contact__field input:focus {
  outline: none;
}
.contact__field textarea {
  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc  ;
  width: 100%;
}
.contact__field textarea:focus {
  outline: none;
}
.contact__button {
  padding: 1rem 2rem;
  background: rgba(193, 255, 114, 0.1);
  border: 1px solid rgba(193, 255, 114, 0.9);
  font-size: 1rem;
  font-weight: 800;
  border-radius: 0.2rem;
}